/* Tablet
@media (max-width: 960px) {
}
*/

/* Mobile
@media (max-width: 500px) {
}
*/

/* General Styles */
body {
  background-color: rgb(241, 241, 241);
  font-family: 'Lato', Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.2em;
  margin: 0px auto;
  max-width: 1400px;
  width: 100%;
}

p {
  margin: 1em;
}

a {
  color: #1D766F;
  text-decoration: none;
}

a:hover {
  color: #BC2F36;
}

h1 {
  font-family: 'Audiowide', cursive;
  font-size: 2.2em;
  float: left;
  line-height: 75px;
  text-shadow: 0 0 10px rgba(1, 101, 94, 0.9);
}

h2 {
  background-color: rgb(60, 60, 60);
  color: #FFF;
  font-family: 'Quicksand', sans-serif;
  font-size: 2.4em;
  font-weight: 400;
  line-height: 80px;
  margin: 0 0 0.5em 0;
  text-align: center;
  text-shadow: 0 0 10px rgba(200, 200, 200, 0.9);
}

h3 {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.4em;
  font-weight: 700;
  margin: 0 0 0.3em 0;
  text-align: center;
}

h4 {
  color: rgb(120, 120, 120);
  font-size: 1em;
  text-align: center;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}


/* Navigation */
nav li {
  float: left;
}

@media (max-width: 960px) {
  nav li {
    float: none;
  }
}

nav a {
  color: #fff;
  margin: 0 10px;
  padding: 5px 10px;
  text-decoration: none;
}

nav a:hover {
  color: #FB000D;
}

/* Header */
header {
  background-color: #009D92;
  background-image: -webkit-linear-gradient(-90deg, #134E5E 10%, #71B280 90%); /* Chrome 10+, Saf5.1+ */
  background-image:    -moz-linear-gradient(-90deg, #134E5E 10%, #71B280 90%); /* FF3.6+ */
  background-image:     -ms-linear-gradient(-90deg, #134E5E 10%, #71B280 90%); /* IE10 */
  background-image:      -o-linear-gradient(-90deg, #134E5E 10%, #71B280 90%); /* Opera 11.10+ */
  background-image:         linear-gradient(-90deg, #134E5E 10%, #71B280 90%); /* W3C */
  padding: 10px;
}

header h1 {
  color: #FFEECC;
  background: url('../images/icons/it.png') no-repeat 0 50%;
  padding-left: 40px;
}

@media (max-width: 960px) {
  header h1{
    font-size: 1.5em;
  }
}

header nav {
  float: right;
  font-size: 1.2em;
  margin-left: 20px;
}

@media (max-width: 960px) {
  header nav {
    float: none;
  }

  header nav::before {
    content: "";
    display: table;
    clear: both;
  }
}

header nav li {
  line-height: 75px;
}

header nav a:hover {
  background-color: #fff;
  border-radius: 20px;
}

/* Main */
main section {
  margin-bottom: 1em;
  position: relative;
}

main section::after {
  /* clearfix hack */
  content: "";
  display: table;
  clear: both;
}

main .wrapper{
  width: 100%;
  max-width:1400px;
  margin: 0 auto;
}

/* Famous Women */
#famous article.woman {
  background-color: white;
  float: left;
  min-height: 250px;
  margin: 1%;
  padding: 2%;
  width: 27.33%;
}

@media (max-width: 500px) {
  #famous article.woman {
    float: none;
    width: auto;
  }
}

#famous article.woman:nth-child(4n) {
  clear: both;
}

#famous article img {
  display: block;
  margin: 1em auto;
  width: 100%;
  border-radius: 50%;
  box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.25);
}

/* Organizations */
#organizations {
  clear: both;
  height: 500px;
}

#organizations ul {
  margin: 50px;
  position: relative;
}

#organizations ul li {
  font-size: 1.2em;
  line-height: 1.3em;
  margin-bottom: 1em;
  padding-left: 5px;
  max-width: 50%;
}

@media (max-width: 500px) {
  #organizations ul li {
    max-width: 100%;
  }
}

#organizations ul li:before {
  color: #FB000D;
  content: '6';
  font-family: 'EntypoRegular';
  font-size: 40px;
  padding-right: 10px;
}

#organizations img {
  position: absolute;
  right: 20px;
  top: 0;
  display: none;
  max-width: 40%;
}

@media (min-width: 500px) {
  #organizations li:hover img {
    display: block;
  }
}


/* Fun Facts */
#facts ul {
  margin: 50px;
}

#facts ul li {
  font-size: 1.2em;
  line-height: 1.3em;
  margin-bottom: 1em;
  padding-left: 5px;
}

#facts ul li::before {
  color: #FFA700;
  content: '7';
  font-family: 'EntypoRegular';
  font-size: 30px;
  padding-right: 10px;
}

#facts ul li:hover::before {
  color: #FF6F00;
}

/* Footer */
footer {
  background-color: #00665F;
}

footer nav {
  float: left;
  font-size: 1.1em;
  margin: 10px;
}

@media (max-width: 960px) {
  footer nav li {
    margin: 10px 0;
  }
}

footer nav a:hover {
  color: #FFEECC;
}



/* Fonts */
@font-face {
  font-family: 'EntypoRegular';
  src: url('font/Entypo-webfont.eot');
  src: url('font/Entypo-webfont.eot?#iefix') format('embedded-opentype'),
       url('font/Entypo-webfont.woff') format('woff'),
       url('font/Entypo-webfont.ttf') format('truetype'),
       url('font/Entypo-webfont.svg#EntypoRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
